
/* Importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet');

/* The following is the stylesheet for a little project I'm working on */

/* Basic styling */ 

* {
    box-sizing: border-box;
    font-family:'Source Sans Pro',sans-serif;
}

/* Letting the page take the entire width */
body {
    margin: 0;
    width: 100%;
}
/* Div of section-1 is the container that holds the background image */
.section-1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.15),
        rgba(0,0,0,0.15)
        ), 
    url('./camera.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navigation bar -- the company name is displayed in big letters on the left, and the links are on the right */


nav {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom:0;
    background-image: inital;
    color: white;
}

/* Company name that is bigger than the links */
.page-name {
    display: inherit;
    padding: 10px;
    /* font-size: 175%; */
    color: rgb(176, 175, 175);
    /* font-weight: bold; */
}

.page-name:hover{
    color: white;
    cursor: pointer;
}

/* The navigational links organized into an unordered list */
nav > ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 10px;
}


/* Styling all the links */
.nav-menu li > a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FDF6EC;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

#hamburger-icon {
    display: none;
    cursor: pointer;
    position:absolute;
    top:2.2rem;
    right:2rem;
    flex-direction: column;
    justify-content: space-between;
}

#cross-icon {
    display: none;
    cursor: pointer;
    position:absolute;
    top:2.2rem;
    right:2rem;
    flex-direction: column;
    justify-content: space-between;
}

li a:hover{
    color: rgb(176, 175, 175);    
}
/* The main text that is visible on the first part of the landing page */

.landing {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content:center; */
    padding: 150px;    
}


.landing h1 {
    order:-1;
    color: #FCF8E8;
}

/* The "For Free" punchline stying */

/* For the links  */
.links p a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    color: white;
}

/* The buy now button */
#buy-now {
    background-color: #146C94;
    color: white;
    border: 2px solid #4e8abb;
    border-radius: 0.5rem;
}

/* Buy now button hover */
#buy-now:hover {
    background-color:#0e4b67 ;
}

/* The donate button */

#donate {
    border: 2px solid #515151;
    border-radius: 0.5rem;
}

/* The donate button when hovered: */

#donate:hover {
    background-color: #6b6b6b87;
}


/* Section 2, which is a little expansion on the main landing page */

.section-2 {
    /* background-image: linear-gradient(to bottom right, rgba(81, 60, 44, 0.852),  rgba(23, 18, 20,0.75)); */
    background: #3a3a3a;
    color: #ffffff;
}


/*  List of colours 
    #BE8A60 -- persian orange
    #766153 -- umber
 */

 /* Setting the flex properties to the flex container */
.flex-container-s2 {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    /* width: 1170px; */
    margin-left: auto;
    margin-right: auto;

}



/* Media query to make this section responsive */
@media screen and (max-width:1200px) {
    .flex-container-s2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        flex: 1 0 10rem;
        max-width: 80%;
    }
    body {
        overflow-x: hidden;
    }
    html 
    {
        overflow-x: hidden;
    }
}


/* The styling for each card  */
.card {
    margin: 2%;
    padding: 10px 20px;
    flex-basis:30%;
    background-color: #222831;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 1rem;
    transition: transform ease-in-out .3s;

    /* Font */
    font-size: 120%;
}

/* When the cursor hovers above the card, it increases in size by 1.15 times */
.card:hover {
    transform: scale(1.15);
}

/* Controlling the links in the text  */
.card a {
    text-decoration: none;
    color:#ffffff;
}
/* --------- Section 2 is over -------------- */


/* ---------- Section 3 begins -------------- */

.section-3 {
    background-color: #E5BA73;
    color: #000000;
    font-size: 1.2em;
}


.intro-s3 {
    margin: auto;
    text-align: center;
    padding-top: 5%;
    width: 50%;
    font-size:120%;
    padding-bottom: 5%;
}

.intro-s3 > hr {
    width: 15%;
    border: 1px solid #737373;    
}

/* Flex container in Section 3 -- feature list  */
.flex-container-s3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}

.feature-card {
    /* flex-grow: 1; */
    max-width: 50%;
    /* border: 1px solid white; */
    padding: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card.text {
    max-width: 50%;
    padding:8% 3%;
    font-size: 110%;
}

.feature-card.text > span > p{
    text-align: left;
}

.feature-card.image {
    max-width: 50%;
    height: 100%;
    align-self: center;
}


.feature-card.text ul {
    display: block;
    list-style-type: circle;
}




/* Footer */
footer {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    color:#f4f4f4;
    background-color:#2B3467;
    /* padding-top:5%;
    padding-bottom: 5%; */
    padding-left: 2%;
    padding-right: 2%;

}

.icon-list li {
    float: left;
    row-gap: 10px;
    flex-wrap: wrap;
    /* margin: 10px; */
    text-align: center;
}

.icons {
    text-decoration: none;
    color:#f4f4f4;
    background: rgba(133, 133, 133, 0.903);
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
}

.icons:hover {
    background: rgba(69, 69, 69, 0.903);
}
.grid-container {
    display:grid;
    padding-top:5%;
    padding-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
    width:100%;
    grid-template-columns:2fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.column.about-us > p {
    text-align: justify;
}

#logo {
    width: 30%;
}

.column {
    margin: 0 10px;
}

.column > ul {
    list-style-type: none;
    padding-left: 0;
}

.column > h2 {
    text-align: left;
}
.column > ul > li {
    padding-left: 0;
    padding-top:0;
}
.imp-links > li > a {
    text-decoration: none;
    color:#f4f4f4;
}

.imp-links > li > a:hover {
    color:#515151;
}



#line-break-footer {
    width: 90%;
    opacity: 50%;
}

.copyleft {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 0;
}


/* Making this responsive */
@media screen and (max-width:1200px) {
    .flex-container-s3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .feature-card.image {
        max-width: 90%;
        width: auto;
    }

    .feature-card.text {
        height:auto;
        margin:0;
        max-width:90%;
        
        text-align: left;
    }

    .grid-container {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-rows: 1fr repeat(3, 250px);
        grid-template-columns: 1fr;
    }

    .column.about-us > p {
        text-align: left;
    }
}


@media screen and (max-width:768px) {
    .landing {
        padding:50px 25px;
    }
    
    .links p a {
        display: block;
        width:fit-content;
    }
    
    #hamburger-icon {
        display: flex;
    }

    .nav-menu li {
        text-align: center;
        padding: 0.5rem 0;
        width: 100%;
    }
    .nav-menu li:active {
        background-color: #222831;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.4s ease-in-out;
    }
    .nav-menu {
        padding-left: 0;
        /* display: none; */

        max-height: 0;
        width: 0px;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        flex-direction: column;
        width:100%;
        /* margin: 0; */
        background-color: #51515143;
    }

    .icon-list li {
        margin-top: 10px;
    }
    .nav-menu.active {
        max-height: 200px;
        width: 100%;
        display: flex;
    }
    #hamburger-icon.active {
        display: flex;
    }

    .section-2 {
        font-size: 0.9em;
    }
    .section-3 {
        font-size: 1em;
    }

    .flex-container-s3 {
        font-size: 0.8em;
    }

    .list-img > li {
        padding:0;
    }

    .column.about-us > p {
        font-size: 0.95em;
    }
    #logo {
        width: 45%;
    }
}

@media screen and (min-width:1201px) {
    .feature-card.image.one {
        order:0;
    }
    
    .feature-card.image.two {
        order:3;
    }
    
    .feature-card.text:nth-of-type(3) {
        order:4;
    }
}